body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),  url('../images/book-tiktok-t.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    
}
a{
    text-decoration: none;
}
.btn-x{
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: white !important;
    border-radius: 50% !important;
    border-radius: 32px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
    height: 70px !important;
    width: 70px !important;
}

.button{
    margin-top: 25px !important;
    margin-right: 0 !important;
}

i{
    font-size: 50px;
    color: #3e613e;
    font-weight: 300;
}


.form form{
    margin-top: 25px !important;
    background-color: white;
    padding: 30px 60px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);

}

.form form h1{
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #333333;
    font-family: Barlow, Helvetica, Arial, sans-serif;
}

.form form input{
    border: none;
    border-bottom: 1px solid #DCDCDC;
    padding: 6px 5px;
    outline: none;
    margin: 15px 0px;
    width: 280px;
}

.form form button{
    width: 280px;
    border-radius: 4px;
    padding: 10px;
    color: white;
    box-shadow: 0px 2px 5px 1px rgb(231 179 102 / 72%);
    font-family: Barlow, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    background-color: #E7B366;
    appearance: none;
    margin-bottom: 10px;
}

.form form button:hover{
    color: white;
}


.form form .or{
    font-family: Barlow, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #a5a5a5;
    font-size: 14px;
    margin: 5px 0px;
}

.form form .google-a{
    background-color: #4285f4;
    height: 42px;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);
    margin-top: 15px;
    text-decoration: none;
    margin-bottom: 20px;
}



.google{
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin-left: 1px;
}



.form form .sign{
margin-left: 45px;
margin-top: 11px;
color: #fff;
letter-spacing: 0.2px;
font-size: 16px;
font-weight: 600;
}

.forgot-password{
    color: #E7B366;
    font-size: 14px;
    letter-spacing: 0.5px;

}

@media screen and (max-width:505px) {
    
    #signup-form{

        width: 100% !important;
        height: 100vh !important;

    }

    .btnc{

        position: absolute !important;
        top: 0 !important; 
        left: 50% !important;

    }
    body{

        /* background-image: none; */

    }
}

@media screen and (max-width:400px) {
        .in3{
            width: 100% !important;

        }

        .gug{
            width: 100% !important;

        }

        .p>p{

            font-size: 10px !important;
            white-space: nowrap ;
            margin-left: -20px;
        }

}

